In [119]:
# Call needed libraries 
from scipy import misc
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

# Import data to pandas
TrainX = pd.read_csv('train_mod_X_Python.csv')
TrainY = pd.read_csv('train_mod_y_Python.csv')

In [120]:
TrainX

,Unnamed: 0,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,...,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallDuration,CallHour,AgeBucket,BalanceBucket
0,1,1,32,management,single,tertiary,0,1218,1,0,...,28,jan,2,-1,0,unknown,70,13,"(25.7,33.4]",BelowAverage
1,2,2,32,blue-collar,married,primary,0,1156,1,0,...,26,may,5,-1,0,unknown,185,14,"(25.7,33.4]",BelowAverage
2,3,3,29,management,single,tertiary,0,637,1,0,...,3,jun,1,119,1,failure,340,16,"(25.7,33.4]",BelowAverage
3,4,4,25,student,single,primary,0,373,1,0,...,11,may,2,-1,0,unknown,819,12,"(17.9,25.7]",BelowAverage
4,5,5,30,management,married,tertiary,0,2694,0,0,...,3,jun,1,-1,0,unknown,192,14,"(25.7,33.4]",AboveAverage
5,6,6,32,technician,single,tertiary,0,1625,0,0,...,22,may,1,109,1,failure,796,14,"(25.7,33.4]",AboveAverage
6,7,7,37,admin.,single,tertiary,0,1000,1,0,...,17,mar,1,-1,0,unknown,195,13,"(33.4,41.1]",BelowAverage
7,8,8,35,management,divorced,tertiary,0,538,1,0,...,12,may,4,-1,0,unknown,66,15,"(33.4,41.1]",BelowAverage
8,9,9,30,admin.,married,secondary,0,187,1,0,...,18,nov,1,-1,0,unknown,106,12,"(25.7,33.4]",BelowAverage
9,10,10,30,blue-collar,married,secondary,0,3,1,1,...,12,may,2,-1,0,unknown,326,9,"(25.7,33.4]",BelowAverage
10,11,11,27,services,single,secondary,0,0,0,0,...,1,jun,1,-1,0,unknown,181,13,"(25.7,33.4]",Negative
11,12,12,53,blue-collar,married,primary,1,-462,0,0,...,29,jan,1,-1,0,unknown,470,16,"(48.8,56.5]",Negative
12,13,13,44,technician,married,secondary,0,2776,1,0,...,27,jan,1,-1,0,unknown,701,16,"(41.1,48.8]",AboveAverage
13,14,14,38,self-employed,divorced,secondary,0,2674,1,0,...,19,jun,2,-1,0,unknown,163,10,"(33.4,41.1]",AboveAverage
14,15,15,25,services,single,unknown,0,2022,0,0,...,29,jul,8,97,12,other,276,14,"(17.9,25.7]",AboveAverage
15,16,16,61,management,single,tertiary,0,2,0,0,...,12,aug,1,114,3,failure,131,16,"(56.5,64.2]",BelowAverage
16,17,17,34,admin.,single,secondary,0,69,1,0,...,6,may,3,362,4,other,92,11,"(33.4,41.1]",BelowAverage
17,18,18,46,management,married,tertiary,0,7331,0,0,...,11,sep,4,95,2,other,658,11,"(41.1,48.8]",AboveAverage
18,19,19,49,blue-collar,married,secondary,0,2039,1,0,...,6,may,1,169,2,failure,451,12,"(48.8,56.5]",AboveAverage
19,20,20,50,blue-collar,married,primary,0,82,0,0,...,5,apr,1,-1,0,unknown,456,10,"(48.8,56.5]",BelowAverage
20,21,21,57,blue-collar,married,secondary,0,773,1,1,...,18,jun,8,-1,0,unknown,97,9,"(56.5,64.2]",BelowAverage
21,22,22,80,retired,married,secondary,0,8304,0,0,...,8,sep,3,91,13,success,606,17,"(79.6,87.3]",AboveAverage
22,23,23,31,management,single,tertiary,0,0,0,0,...,21,aug,2,-1,0,unknown,218,14,"(25.7,33.4]",Negative
23,24,24,63,retired,married,secondary,0,2896,0,0,...,1,jul,1,119,2,success,304,15,"(56.5,64.2]",AboveAverage
24,25,25,60,technician,married,secondary,0,824,1,0,...,9,feb,1,558,7,other,127,16,"(56.5,64.2]",BelowAverage
25,26,26,29,management,married,tertiary,0,900,0,0,...,17,jul,2,-1,0,unknown,275,17,"(25.7,33.4]",BelowAverage
26,27,27,54,management,married,primary,0,3859,0,1,...,20,nov,3,-1,0,unknown,104,10,"(48.8,56.5]",AboveAverage
27,29,29,34,services,married,secondary,0,-62,1,0,...,16,jun,3,-1,0,unknown,109,13,"(33.4,41.1]",Negative
28,30,30,42,blue-collar,married,primary,0,832,0,0,...,20,jun,14,-1,0,unknown,13,10,"(41.1,48.8]",BelowAverage
29,31,31,54,technician,married,secondary,0,0,0,0,...,30,apr,3,84,3,success,766,11,"(48.8,56.5]",Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,3971,3971,68,retired,married,secondary,0,445,0,0,...,18,feb,1,-1,0,unknown,475,14,"(64.2,71.9]",BelowAverage
3951,3972,3972,32,admin.,divorced,secondary,0,410,1,0,...,14,apr,1,-1,0,unknown,129,17,"(25.7,33.4]",BelowAverage
3952,3973,3973,31,services,single,secondary,0,222,1,0,...,13,may,2,-1,0,unknown,168,10,"(25.7,33.4]",BelowAverage
3953,3974,3974,54,blue-collar,divorced,secondary,0,1613,1,0,...,7,jul,3,-1,0,unknown,128,12,"(48.8,56.5]",AboveAverage
3954,3975,3975,39,management,single,tertiary,0,763,0,0,...,22,feb,1,189,1,failure,543,14,"(33.4,41.1]",BelowAverage
3955,3976,3976,28,blue-collar,single,secondary,0,4229,1,1,...,5,may,2,-1,0,unknown,205,16,"(25.7,33.4]",AboveAverage
3956,3977,3977,32,blue-collar,married,primary,0,1261,1,0,...,23,may,1,-1,0,unknown,132,10,"(25.7,33.4]",BelowAverage
3957,3978,3978,36,admin.,married,secondary,0,3268,0,0,...,9,apr,2,-1,0,unknown,429,17,"(33.4,41.1]",AboveAverage
3958,3979,3979,44,technician,divorced,secondary,0,982,1,0,...,20,may,3,-1,0,unknown,650,12,"(41.1,48.8]",BelowAverage
3959,3980,3980,34,management,married,tertiary,0,0,0,0,...,15,apr,2,-1,0,unknown,125,9,"(33.4,41.1]",Negative
3960,3981,3981,49,blue-collar,single,primary,0,87,1,0,...,14,may,2,-1,0,unknown,162,10,"(48.8,56.5]",BelowAverage
3961,3982,3982,33,entrepreneur,single,tertiary,0,484,1,0,...,29,jan,1,-1,0,unknown,537,12,"(25.7,33.4]",BelowAverage
3962,3983,3983,53,technician,married,secondary,0,4930,0,1,...,2,feb,2,-1,0,unknown,228,12,"(48.8,56.5]",AboveAverage
3963,3984,3984,37,management,single,secondary,0,0,1,1,...,2,apr,2,-1,0,unknown,450,15,"(33.4,41.1]",Negative
3964,3985,3985,28,services,single,secondary,0,2954,1,0,...,28,may,2,-1,0,unknown,149,11,"(25.7,33.4]",AboveAverage
3965,3986,3986,40,technician,married,primary,0,644,1,0,...,16,apr,2,336,1,failure,118,10,"(33.4,41.1]",BelowAverage
3966,3987,3987,29,technician,single,secondary,0,382,0,0,...,5,aug,4,-1,0,unknown,409,16,"(25.7,33.4]",BelowAverage
3967,3988,3988,27,admin.,married,tertiary,0,2855,0,0,...,25,jan,1,301,3,failure,240,9,"(25.7,33.4]",AboveAverage
3968,3989,3989,78,retired,divorced,secondary,0,631,0,0,...,11,aug,1,-1,0,unknown,95,14,"(71.9,79.6]",BelowAverage
3969,3990,3990,32,housemaid,married,primary,0,91,1,0,...,16,jul,6,-1,0,unknown,110,15,"(25.7,33.4]",BelowAverage
3970,3991,3991,27,technician,single,secondary,0,126,1,1,...,5,feb,2,216,4,failure,147,13,"(25.7,33.4]",BelowAverage
3971,3992,3992,55,unemployed,single,tertiary,0,1513,1,0,...,8,may,1,-1,0,unknown,60,17,"(48.8,56.5]",AboveAverage
3972,3993,3993,34,technician,married,secondary,0,0,1,0,...,5,aug,2,2,3,success,231,10,"(33.4,41.1]",Negative
3973,3994,3994,42,technician,single,secondary,0,417,0,0,...,21,jul,1,-1,0,unknown,177,9,"(41.1,48.8]",BelowAverage
3974,3995,3995,48,blue-collar,married,secondary,0,1,0,0,...,5,may,3,-1,0,unknown,669,15,"(41.1,48.8]",BelowAverage
3975,3996,3996,28,technician,single,tertiary,0,0,1,0,...,25,may,1,40,2,failure,269,17,"(25.7,33.4]",Negative
3976,3997,3997,49,admin.,divorced,secondary,0,124,1,1,...,29,jul,19,-1,0,unknown,125,14,"(48.8,56.5]",BelowAverage
3977,3998,3998,27,admin.,single,secondary,0,-400,0,1,...,8,jul,1,-1,0,unknown,290,12,"(25.7,33.4]",Negative
3978,3999,3999,36,entrepreneur,single,tertiary,0,658,1,0,...,29,jan,1,227,3,failure,99,11,"(33.4,41.1]",BelowAverage
3979,4000,4000,45,services,married,primary,0,137,1,0,...,9,may,2,-1,0,unknown,274,13,"(41.1,48.8]",BelowAverage

In [121]:
# Drop the irrelevant duplicate column with Id info
TrainX = TrainX.drop(['Unnamed: 0'], axis = 1)
TrainY = TrainY.drop(['Unnamed: 0'], axis = 1)

In [122]:
TrainX

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallDuration,CallHour,AgeBucket,BalanceBucket
0,1,32,management,single,tertiary,0,1218,1,0,telephone,28,jan,2,-1,0,unknown,70,13,"(25.7,33.4]",BelowAverage
1,2,32,blue-collar,married,primary,0,1156,1,0,unknown,26,may,5,-1,0,unknown,185,14,"(25.7,33.4]",BelowAverage
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,340,16,"(25.7,33.4]",BelowAverage
3,4,25,student,single,primary,0,373,1,0,cellular,11,may,2,-1,0,unknown,819,12,"(17.9,25.7]",BelowAverage
4,5,30,management,married,tertiary,0,2694,0,0,cellular,3,jun,1,-1,0,unknown,192,14,"(25.7,33.4]",AboveAverage
5,6,32,technician,single,tertiary,0,1625,0,0,cellular,22,may,1,109,1,failure,796,14,"(25.7,33.4]",AboveAverage
6,7,37,admin.,single,tertiary,0,1000,1,0,cellular,17,mar,1,-1,0,unknown,195,13,"(33.4,41.1]",BelowAverage
7,8,35,management,divorced,tertiary,0,538,1,0,unknown,12,may,4,-1,0,unknown,66,15,"(33.4,41.1]",BelowAverage
8,9,30,admin.,married,secondary,0,187,1,0,cellular,18,nov,1,-1,0,unknown,106,12,"(25.7,33.4]",BelowAverage
9,10,30,blue-collar,married,secondary,0,3,1,1,cellular,12,may,2,-1,0,unknown,326,9,"(25.7,33.4]",BelowAverage
10,11,27,services,single,secondary,0,0,0,0,cellular,1,jun,1,-1,0,unknown,181,13,"(25.7,33.4]",Negative
11,12,53,blue-collar,married,primary,1,-462,0,0,cellular,29,jan,1,-1,0,unknown,470,16,"(48.8,56.5]",Negative
12,13,44,technician,married,secondary,0,2776,1,0,cellular,27,jan,1,-1,0,unknown,701,16,"(41.1,48.8]",AboveAverage
13,14,38,self-employed,divorced,secondary,0,2674,1,0,unknown,19,jun,2,-1,0,unknown,163,10,"(33.4,41.1]",AboveAverage
14,15,25,services,single,unknown,0,2022,0,0,cellular,29,jul,8,97,12,other,276,14,"(17.9,25.7]",AboveAverage
15,16,61,management,single,tertiary,0,2,0,0,cellular,12,aug,1,114,3,failure,131,16,"(56.5,64.2]",BelowAverage
16,17,34,admin.,single,secondary,0,69,1,0,telephone,6,may,3,362,4,other,92,11,"(33.4,41.1]",BelowAverage
17,18,46,management,married,tertiary,0,7331,0,0,cellular,11,sep,4,95,2,other,658,11,"(41.1,48.8]",AboveAverage
18,19,49,blue-collar,married,secondary,0,2039,1,0,cellular,6,may,1,169,2,failure,451,12,"(48.8,56.5]",AboveAverage
19,20,50,blue-collar,married,primary,0,82,0,0,telephone,5,apr,1,-1,0,unknown,456,10,"(48.8,56.5]",BelowAverage
20,21,57,blue-collar,married,secondary,0,773,1,1,unknown,18,jun,8,-1,0,unknown,97,9,"(56.5,64.2]",BelowAverage
21,22,80,retired,married,secondary,0,8304,0,0,telephone,8,sep,3,91,13,success,606,17,"(79.6,87.3]",AboveAverage
22,23,31,management,single,tertiary,0,0,0,0,cellular,21,aug,2,-1,0,unknown,218,14,"(25.7,33.4]",Negative
23,24,63,retired,married,secondary,0,2896,0,0,cellular,1,jul,1,119,2,success,304,15,"(56.5,64.2]",AboveAverage
24,25,60,technician,married,secondary,0,824,1,0,cellular,9,feb,1,558,7,other,127,16,"(56.5,64.2]",BelowAverage
25,26,29,management,married,tertiary,0,900,0,0,cellular,17,jul,2,-1,0,unknown,275,17,"(25.7,33.4]",BelowAverage
26,27,54,management,married,primary,0,3859,0,1,cellular,20,nov,3,-1,0,unknown,104,10,"(48.8,56.5]",AboveAverage
27,29,34,services,married,secondary,0,-62,1,0,unknown,16,jun,3,-1,0,unknown,109,13,"(33.4,41.1]",Negative
28,30,42,blue-collar,married,primary,0,832,0,0,unknown,20,jun,14,-1,0,unknown,13,10,"(41.1,48.8]",BelowAverage
29,31,54,technician,married,secondary,0,0,0,0,telephone,30,apr,3,84,3,success,766,11,"(48.8,56.5]",Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,3971,68,retired,married,secondary,0,445,0,0,cellular,18,feb,1,-1,0,unknown,475,14,"(64.2,71.9]",BelowAverage
3951,3972,32,admin.,divorced,secondary,0,410,1,0,cellular,14,apr,1,-1,0,unknown,129,17,"(25.7,33.4]",BelowAverage
3952,3973,31,services,single,secondary,0,222,1,0,cellular,13,may,2,-1,0,unknown,168,10,"(25.7,33.4]",BelowAverage
3953,3974,54,blue-collar,divorced,secondary,0,1613,1,0,cellular,7,jul,3,-1,0,unknown,128,12,"(48.8,56.5]",AboveAverage
3954,3975,39,management,single,tertiary,0,763,0,0,cellular,22,feb,1,189,1,failure,543,14,"(33.4,41.1]",BelowAverage
3955,3976,28,blue-collar,single,secondary,0,4229,1,1,cellular,5,may,2,-1,0,unknown,205,16,"(25.7,33.4]",AboveAverage
3956,3977,32,blue-collar,married,primary,0,1261,1,0,unknown,23,may,1,-1,0,unknown,132,10,"(25.7,33.4]",BelowAverage
3957,3978,36,admin.,married,secondary,0,3268,0,0,cellular,9,apr,2,-1,0,unknown,429,17,"(33.4,41.1]",AboveAverage
3958,3979,44,technician,divorced,secondary,0,982,1,0,unknown,20,may,3,-1,0,unknown,650,12,"(41.1,48.8]",BelowAverage
3959,3980,34,management,married,tertiary,0,0,0,0,cellular,15,apr,2,-1,0,unknown,125,9,"(33.4,41.1]",Negative
3960,3981,49,blue-collar,single,primary,0,87,1,0,telephone,14,may,2,-1,0,unknown,162,10,"(48.8,56.5]",BelowAverage
3961,3982,33,entrepreneur,single,tertiary,0,484,1,0,cellular,29,jan,1,-1,0,unknown,537,12,"(25.7,33.4]",BelowAverage
3962,3983,53,technician,married,secondary,0,4930,0,1,cellular,2,feb,2,-1,0,unknown,228,12,"(48.8,56.5]",AboveAverage
3963,3984,37,management,single,secondary,0,0,1,1,cellular,2,apr,2,-1,0,unknown,450,15,"(33.4,41.1]",Negative
3964,3985,28,services,single,secondary,0,2954,1,0,unknown,28,may,2,-1,0,unknown,149,11,"(25.7,33.4]",AboveAverage
3965,3986,40,technician,married,primary,0,644,1,0,cellular,16,apr,2,336,1,failure,118,10,"(33.4,41.1]",BelowAverage
3966,3987,29,technician,single,secondary,0,382,0,0,cellular,5,aug,4,-1,0,unknown,409,16,"(25.7,33.4]",BelowAverage
3967,3988,27,admin.,married,tertiary,0,2855,0,0,cellular,25,jan,1,301,3,failure,240,9,"(25.7,33.4]",AboveAverage
3968,3989,78,retired,divorced,secondary,0,631,0,0,telephone,11,aug,1,-1,0,unknown,95,14,"(71.9,79.6]",BelowAverage
3969,3990,32,housemaid,married,primary,0,91,1,0,cellular,16,jul,6,-1,0,unknown,110,15,"(25.7,33.4]",BelowAverage
3970,3991,27,technician,single,secondary,0,126,1,1,cellular,5,feb,2,216,4,failure,147,13,"(25.7,33.4]",BelowAverage
3971,3992,55,unemployed,single,tertiary,0,1513,1,0,unknown,8,may,1,-1,0,unknown,60,17,"(48.8,56.5]",AboveAverage
3972,3993,34,technician,married,secondary,0,0,1,0,cellular,5,aug,2,2,3,success,231,10,"(33.4,41.1]",Negative
3973,3994,42,technician,single,secondary,0,417,0,0,cellular,21,jul,1,-1,0,unknown,177,9,"(41.1,48.8]",BelowAverage
3974,3995,48,blue-collar,married,secondary,0,1,0,0,unknown,5,may,3,-1,0,unknown,669,15,"(41.1,48.8]",BelowAverage
3975,3996,28,technician,single,tertiary,0,0,1,0,cellular,25,may,1,40,2,failure,269,17,"(25.7,33.4]",Negative
3976,3997,49,admin.,divorced,secondary,0,124,1,1,cellular,29,jul,19,-1,0,unknown,125,14,"(48.8,56.5]",BelowAverage
3977,3998,27,admin.,single,secondary,0,-400,0,1,cellular,8,jul,1,-1,0,unknown,290,12,"(25.7,33.4]",Negative
3978,3999,36,entrepreneur,single,tertiary,0,658,1,0,cellular,29,jan,1,227,3,failure,99,11,"(33.4,41.1]",BelowAverage
3979,4000,45,services,married,primary,0,137,1,0,unknown,9,may,2,-1,0,unknown,274,13,"(41.1,48.8]",BelowAverage

In [123]:
TrainY

      CarInsurance
0                0
1                0
2                1
3                1
4                0
5                1
6                1
7                0
8                0
9                0
10               0
11               1
12               1
13               0
14               1
15               1
16               0
17               1
18               1
19               1
20               0
21               1
22               0
23               1
24               1
25               0
26               0
27               0
28               0
29               1
...            ...
3950             1
3951             0
3952             0
3953             0
3954             1
3955             0
3956             0
3957             0
3958             1
3959             0
3960             0
3961             0
3962             0
3963             0
3964             0
3965             0
3966             1
3967             1
3968             0
3969             0
3970             0
3971             0
3972             1
3973             0
3974             0
3975             1
3976             0
3977             0
3978             0
3979             0

[3980 rows x 1 columns]

In [124]:
# Check for missing values
# (Already taken care of in R)
TrainX.isnull().sum()

Id                  0
Age                 0
Job                 0
Marital             0
Education           0
Default             0
Balance             0
HHInsurance         0
CarLoan             0
Communication       0
LastContactDay      0
LastContactMonth    0
NoOfContacts        0
DaysPassed          0
PrevAttempts        0
Outcome             0
CallDuration        0
CallHour            0
AgeBucket           0
BalanceBucket       0
dtype: int64

In [125]:
# Convert the factor setting
# of R to dummy (binary) columns
Job = pd.get_dummies(data = TrainX['Job'],
                     prefix = "Job")

Marital= pd.get_dummies(data = TrainX['Marital'],
                        prefix = "Marital")

Education= pd.get_dummies(data = TrainX['Education'],
                          prefix="Education")

Communication = pd.get_dummies(data = TrainX['Communication'],
                               prefix = "Communication")

LastContactMonth = pd.get_dummies(data = TrainX['LastContactMonth'],
                                  prefix= "LastContactMonth")

Outcome = pd.get_dummies(data = TrainX['Outcome'],
                         prefix = "Outcome")

CallHour = pd.get_dummies(data = TrainX['CallHour'],
                          prefix = "CallHour")

AgeBucket = pd.get_dummies(data = TrainX['AgeBucket'],
                          prefix = "AgeBucket")

BalanceBucket = pd.get_dummies(data = TrainX['BalanceBucket'],
                          prefix = "BalanceBucket")

In [126]:
# Drop original level columns
TrainX_dropped = TrainX.drop(['Job',
                             'Marital',
                             'Education',
                             'Communication',
                             'LastContactMonth',
                             'Outcome', 
                             'CallHour',
                             'AgeBucket',
                             'BalanceBucket'],
                            axis=1)

In [127]:
TrainX_dropped

,Id,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,CallDuration
0,1,32,0,1218,1,0,28,2,-1,0,70
1,2,32,0,1156,1,0,26,5,-1,0,185
2,3,29,0,637,1,0,3,1,119,1,340
3,4,25,0,373,1,0,11,2,-1,0,819
4,5,30,0,2694,0,0,3,1,-1,0,192
5,6,32,0,1625,0,0,22,1,109,1,796
6,7,37,0,1000,1,0,17,1,-1,0,195
7,8,35,0,538,1,0,12,4,-1,0,66
8,9,30,0,187,1,0,18,1,-1,0,106
9,10,30,0,3,1,1,12,2,-1,0,326
10,11,27,0,0,0,0,1,1,-1,0,181
11,12,53,1,-462,0,0,29,1,-1,0,470
12,13,44,0,2776,1,0,27,1,-1,0,701
13,14,38,0,2674,1,0,19,2,-1,0,163
14,15,25,0,2022,0,0,29,8,97,12,276
15,16,61,0,2,0,0,12,1,114,3,131
16,17,34,0,69,1,0,6,3,362,4,92
17,18,46,0,7331,0,0,11,4,95,2,658
18,19,49,0,2039,1,0,6,1,169,2,451
19,20,50,0,82,0,0,5,1,-1,0,456
20,21,57,0,773,1,1,18,8,-1,0,97
21,22,80,0,8304,0,0,8,3,91,13,606
22,23,31,0,0,0,0,21,2,-1,0,218
23,24,63,0,2896,0,0,1,1,119,2,304
24,25,60,0,824,1,0,9,1,558,7,127
25,26,29,0,900,0,0,17,2,-1,0,275
26,27,54,0,3859,0,1,20,3,-1,0,104
27,29,34,0,-62,1,0,16,3,-1,0,109
28,30,42,0,832,0,0,20,14,-1,0,13
29,31,54,0,0,0,0,30,3,84,3,766
...,...,...,...,...,...,...,...,...,...,...,...
3950,3971,68,0,445,0,0,18,1,-1,0,475
3951,3972,32,0,410,1,0,14,1,-1,0,129
3952,3973,31,0,222,1,0,13,2,-1,0,168
3953,3974,54,0,1613,1,0,7,3,-1,0,128
3954,3975,39,0,763,0,0,22,1,189,1,543
3955,3976,28,0,4229,1,1,5,2,-1,0,205
3956,3977,32,0,1261,1,0,23,1,-1,0,132
3957,3978,36,0,3268,0,0,9,2,-1,0,429
3958,3979,44,0,982,1,0,20,3,-1,0,650
3959,3980,34,0,0,0,0,15,2,-1,0,125
3960,3981,49,0,87,1,0,14,2,-1,0,162
3961,3982,33,0,484,1,0,29,1,-1,0,537
3962,3983,53,0,4930,0,1,2,2,-1,0,228
3963,3984,37,0,0,1,1,2,2,-1,0,450
3964,3985,28,0,2954,1,0,28,2,-1,0,149
3965,3986,40,0,644,1,0,16,2,336,1,118
3966,3987,29,0,382,0,0,5,4,-1,0,409
3967,3988,27,0,2855,0,0,25,1,301,3,240
3968,3989,78,0,631,0,0,11,1,-1,0,95
3969,3990,32,0,91,1,0,16,6,-1,0,110
3970,3991,27,0,126,1,1,5,2,216,4,147
3971,3992,55,0,1513,1,0,8,1,-1,0,60
3972,3993,34,0,0,1,0,5,2,2,3,231
3973,3994,42,0,417,0,0,21,1,-1,0,177
3974,3995,48,0,1,0,0,5,3,-1,0,669
3975,3996,28,0,0,1,0,25,1,40,2,269
3976,3997,49,0,124,1,1,29,19,-1,0,125
3977,3998,27,0,-400,0,1,8,1,-1,0,290
3978,3999,36,0,658,1,0,29,1,227,3,99
3979,4000,45,0,137,1,0,9,2,-1,0,274

In [128]:
#Concatenate the dropped dataframe with dummy columns
TrainX = pd.concat([TrainX_dropped, 
                    Job, 
                    Marital, 
                    Education, 
                    Communication, 
                    LastContactMonth, 
                    Outcome, 
                    CallHour, 
                    AgeBucket, 
                    BalanceBucket],
                   axis=1)

In [129]:
TrainX

,Id,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,...,"AgeBucket_(41.1,48.8]","AgeBucket_(48.8,56.5]","AgeBucket_(56.5,64.2]","AgeBucket_(64.2,71.9]","AgeBucket_(71.9,79.6]","AgeBucket_(79.6,87.3]","AgeBucket_(87.3,95.1]",BalanceBucket_AboveAverage,BalanceBucket_BelowAverage,BalanceBucket_Negative
0,1,32,0,1218,1,0,28,2,-1,0,...,0,0,0,0,0,0,0,0,1,0
1,2,32,0,1156,1,0,26,5,-1,0,...,0,0,0,0,0,0,0,0,1,0
2,3,29,0,637,1,0,3,1,119,1,...,0,0,0,0,0,0,0,0,1,0
3,4,25,0,373,1,0,11,2,-1,0,...,0,0,0,0,0,0,0,0,1,0
4,5,30,0,2694,0,0,3,1,-1,0,...,0,0,0,0,0,0,0,1,0,0
5,6,32,0,1625,0,0,22,1,109,1,...,0,0,0,0,0,0,0,1,0,0
6,7,37,0,1000,1,0,17,1,-1,0,...,0,0,0,0,0,0,0,0,1,0
7,8,35,0,538,1,0,12,4,-1,0,...,0,0,0,0,0,0,0,0,1,0
8,9,30,0,187,1,0,18,1,-1,0,...,0,0,0,0,0,0,0,0,1,0
9,10,30,0,3,1,1,12,2,-1,0,...,0,0,0,0,0,0,0,0,1,0
10,11,27,0,0,0,0,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,1
11,12,53,1,-462,0,0,29,1,-1,0,...,0,1,0,0,0,0,0,0,0,1
12,13,44,0,2776,1,0,27,1,-1,0,...,1,0,0,0,0,0,0,1,0,0
13,14,38,0,2674,1,0,19,2,-1,0,...,0,0,0,0,0,0,0,1,0,0
14,15,25,0,2022,0,0,29,8,97,12,...,0,0,0,0,0,0,0,1,0,0
15,16,61,0,2,0,0,12,1,114,3,...,0,0,1,0,0,0,0,0,1,0
16,17,34,0,69,1,0,6,3,362,4,...,0,0,0,0,0,0,0,0,1,0
17,18,46,0,7331,0,0,11,4,95,2,...,1,0,0,0,0,0,0,1,0,0
18,19,49,0,2039,1,0,6,1,169,2,...,0,1,0,0,0,0,0,1,0,0
19,20,50,0,82,0,0,5,1,-1,0,...,0,1,0,0,0,0,0,0,1,0
20,21,57,0,773,1,1,18,8,-1,0,...,0,0,1,0,0,0,0,0,1,0
21,22,80,0,8304,0,0,8,3,91,13,...,0,0,0,0,0,1,0,1,0,0
22,23,31,0,0,0,0,21,2,-1,0,...,0,0,0,0,0,0,0,0,0,1
23,24,63,0,2896,0,0,1,1,119,2,...,0,0,1,0,0,0,0,1,0,0
24,25,60,0,824,1,0,9,1,558,7,...,0,0,1,0,0,0,0,0,1,0
25,26,29,0,900,0,0,17,2,-1,0,...,0,0,0,0,0,0,0,0,1,0
26,27,54,0,3859,0,1,20,3,-1,0,...,0,1,0,0,0,0,0,1,0,0
27,29,34,0,-62,1,0,16,3,-1,0,...,0,0,0,0,0,0,0,0,0,1
28,30,42,0,832,0,0,20,14,-1,0,...,1,0,0,0,0,0,0,0,1,0
29,31,54,0,0,0,0,30,3,84,3,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,3971,68,0,445,0,0,18,1,-1,0,...,0,0,0,1,0,0,0,0,1,0
3951,3972,32,0,410,1,0,14,1,-1,0,...,0,0,0,0,0,0,0,0,1,0
3952,3973,31,0,222,1,0,13,2,-1,0,...,0,0,0,0,0,0,0,0,1,0
3953,3974,54,0,1613,1,0,7,3,-1,0,...,0,1,0,0,0,0,0,1,0,0
3954,3975,39,0,763,0,0,22,1,189,1,...,0,0,0,0,0,0,0,0,1,0
3955,3976,28,0,4229,1,1,5,2,-1,0,...,0,0,0,0,0,0,0,1,0,0
3956,3977,32,0,1261,1,0,23,1,-1,0,...,0,0,0,0,0,0,0,0,1,0
3957,3978,36,0,3268,0,0,9,2,-1,0,...,0,0,0,0,0,0,0,1,0,0
3958,3979,44,0,982,1,0,20,3,-1,0,...,1,0,0,0,0,0,0,0,1,0
3959,3980,34,0,0,0,0,15,2,-1,0,...,0,0,0,0,0,0,0,0,0,1
3960,3981,49,0,87,1,0,14,2,-1,0,...,0,1,0,0,0,0,0,0,1,0
3961,3982,33,0,484,1,0,29,1,-1,0,...,0,0,0,0,0,0,0,0,1,0
3962,3983,53,0,4930,0,1,2,2,-1,0,...,0,1,0,0,0,0,0,1,0,0
3963,3984,37,0,0,1,1,2,2,-1,0,...,0,0,0,0,0,0,0,0,0,1
3964,3985,28,0,2954,1,0,28,2,-1,0,...,0,0,0,0,0,0,0,1,0,0
3965,3986,40,0,644,1,0,16,2,336,1,...,0,0,0,0,0,0,0,0,1,0
3966,3987,29,0,382,0,0,5,4,-1,0,...,0,0,0,0,0,0,0,0,1,0
3967,3988,27,0,2855,0,0,25,1,301,3,...,0,0,0,0,0,0,0,1,0,0
3968,3989,78,0,631,0,0,11,1,-1,0,...,0,0,0,0,1,0,0,0,1,0
3969,3990,32,0,91,1,0,16,6,-1,0,...,0,0,0,0,0,0,0,0,1,0
3970,3991,27,0,126,1,1,5,2,216,4,...,0,0,0,0,0,0,0,0,1,0
3971,3992,55,0,1513,1,0,8,1,-1,0,...,0,1,0,0,0,0,0,1,0,0
3972,3993,34,0,0,1,0,5,2,2,3,...,0,0,0,0,0,0,0,0,0,1
3973,3994,42,0,417,0,0,21,1,-1,0,...,1,0,0,0,0,0,0,0,1,0
3974,3995,48,0,1,0,0,5,3,-1,0,...,1,0,0,0,0,0,0,0,1,0
3975,3996,28,0,0,1,0,25,1,40,2,...,0,0,0,0,0,0,0,0,0,1
3976,3997,49,0,124,1,1,29,19,-1,0,...,0,1,0,0,0,0,0,0,1,0
3977,3998,27,0,-400,0,1,8,1,-1,0,...,0,0,0,0,0,0,0,0,0,1
3978,3999,36,0,658,1,0,29,1,227,3,...,0,0,0,0,0,0,0,0,1,0
3979,4000,45,0,137,1,0,9,2,-1,0,...,1,0,0,0,0,0,0,0,1,0

In [130]:
# Save the customer ID array for further use
ID = TrainX['Id'].values

In [131]:
TrainX = TrainX.drop(['Id'],axis=1)

In [132]:
TrainX

,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,CallDuration,...,"AgeBucket_(41.1,48.8]","AgeBucket_(48.8,56.5]","AgeBucket_(56.5,64.2]","AgeBucket_(64.2,71.9]","AgeBucket_(71.9,79.6]","AgeBucket_(79.6,87.3]","AgeBucket_(87.3,95.1]",BalanceBucket_AboveAverage,BalanceBucket_BelowAverage,BalanceBucket_Negative
0,32,0,1218,1,0,28,2,-1,0,70,...,0,0,0,0,0,0,0,0,1,0
1,32,0,1156,1,0,26,5,-1,0,185,...,0,0,0,0,0,0,0,0,1,0
2,29,0,637,1,0,3,1,119,1,340,...,0,0,0,0,0,0,0,0,1,0
3,25,0,373,1,0,11,2,-1,0,819,...,0,0,0,0,0,0,0,0,1,0
4,30,0,2694,0,0,3,1,-1,0,192,...,0,0,0,0,0,0,0,1,0,0
5,32,0,1625,0,0,22,1,109,1,796,...,0,0,0,0,0,0,0,1,0,0
6,37,0,1000,1,0,17,1,-1,0,195,...,0,0,0,0,0,0,0,0,1,0
7,35,0,538,1,0,12,4,-1,0,66,...,0,0,0,0,0,0,0,0,1,0
8,30,0,187,1,0,18,1,-1,0,106,...,0,0,0,0,0,0,0,0,1,0
9,30,0,3,1,1,12,2,-1,0,326,...,0,0,0,0,0,0,0,0,1,0
10,27,0,0,0,0,1,1,-1,0,181,...,0,0,0,0,0,0,0,0,0,1
11,53,1,-462,0,0,29,1,-1,0,470,...,0,1,0,0,0,0,0,0,0,1
12,44,0,2776,1,0,27,1,-1,0,701,...,1,0,0,0,0,0,0,1,0,0
13,38,0,2674,1,0,19,2,-1,0,163,...,0,0,0,0,0,0,0,1,0,0
14,25,0,2022,0,0,29,8,97,12,276,...,0,0,0,0,0,0,0,1,0,0
15,61,0,2,0,0,12,1,114,3,131,...,0,0,1,0,0,0,0,0,1,0
16,34,0,69,1,0,6,3,362,4,92,...,0,0,0,0,0,0,0,0,1,0
17,46,0,7331,0,0,11,4,95,2,658,...,1,0,0,0,0,0,0,1,0,0
18,49,0,2039,1,0,6,1,169,2,451,...,0,1,0,0,0,0,0,1,0,0
19,50,0,82,0,0,5,1,-1,0,456,...,0,1,0,0,0,0,0,0,1,0
20,57,0,773,1,1,18,8,-1,0,97,...,0,0,1,0,0,0,0,0,1,0
21,80,0,8304,0,0,8,3,91,13,606,...,0,0,0,0,0,1,0,1,0,0
22,31,0,0,0,0,21,2,-1,0,218,...,0,0,0,0,0,0,0,0,0,1
23,63,0,2896,0,0,1,1,119,2,304,...,0,0,1,0,0,0,0,1,0,0
24,60,0,824,1,0,9,1,558,7,127,...,0,0,1,0,0,0,0,0,1,0
25,29,0,900,0,0,17,2,-1,0,275,...,0,0,0,0,0,0,0,0,1,0
26,54,0,3859,0,1,20,3,-1,0,104,...,0,1,0,0,0,0,0,1,0,0
27,34,0,-62,1,0,16,3,-1,0,109,...,0,0,0,0,0,0,0,0,0,1
28,42,0,832,0,0,20,14,-1,0,13,...,1,0,0,0,0,0,0,0,1,0
29,54,0,0,0,0,30,3,84,3,766,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,68,0,445,0,0,18,1,-1,0,475,...,0,0,0,1,0,0,0,0,1,0
3951,32,0,410,1,0,14,1,-1,0,129,...,0,0,0,0,0,0,0,0,1,0
3952,31,0,222,1,0,13,2,-1,0,168,...,0,0,0,0,0,0,0,0,1,0
3953,54,0,1613,1,0,7,3,-1,0,128,...,0,1,0,0,0,0,0,1,0,0
3954,39,0,763,0,0,22,1,189,1,543,...,0,0,0,0,0,0,0,0,1,0
3955,28,0,4229,1,1,5,2,-1,0,205,...,0,0,0,0,0,0,0,1,0,0
3956,32,0,1261,1,0,23,1,-1,0,132,...,0,0,0,0,0,0,0,0,1,0
3957,36,0,3268,0,0,9,2,-1,0,429,...,0,0,0,0,0,0,0,1,0,0
3958,44,0,982,1,0,20,3,-1,0,650,...,1,0,0,0,0,0,0,0,1,0
3959,34,0,0,0,0,15,2,-1,0,125,...,0,0,0,0,0,0,0,0,0,1
3960,49,0,87,1,0,14,2,-1,0,162,...,0,1,0,0,0,0,0,0,1,0
3961,33,0,484,1,0,29,1,-1,0,537,...,0,0,0,0,0,0,0,0,1,0
3962,53,0,4930,0,1,2,2,-1,0,228,...,0,1,0,0,0,0,0,1,0,0
3963,37,0,0,1,1,2,2,-1,0,450,...,0,0,0,0,0,0,0,0,0,1
3964,28,0,2954,1,0,28,2,-1,0,149,...,0,0,0,0,0,0,0,1,0,0
3965,40,0,644,1,0,16,2,336,1,118,...,0,0,0,0,0,0,0,0,1,0
3966,29,0,382,0,0,5,4,-1,0,409,...,0,0,0,0,0,0,0,0,1,0
3967,27,0,2855,0,0,25,1,301,3,240,...,0,0,0,0,0,0,0,1,0,0
3968,78,0,631,0,0,11,1,-1,0,95,...,0,0,0,0,1,0,0,0,1,0
3969,32,0,91,1,0,16,6,-1,0,110,...,0,0,0,0,0,0,0,0,1,0
3970,27,0,126,1,1,5,2,216,4,147,...,0,0,0,0,0,0,0,0,1,0
3971,55,0,1513,1,0,8,1,-1,0,60,...,0,1,0,0,0,0,0,1,0,0
3972,34,0,0,1,0,5,2,2,3,231,...,0,0,0,0,0,0,0,0,0,1
3973,42,0,417,0,0,21,1,-1,0,177,...,1,0,0,0,0,0,0,0,1,0
3974,48,0,1,0,0,5,3,-1,0,669,...,1,0,0,0,0,0,0,0,1,0
3975,28,0,0,1,0,25,1,40,2,269,...,0,0,0,0,0,0,0,0,0,1
3976,49,0,124,1,1,29,19,-1,0,125,...,0,1,0,0,0,0,0,0,1,0
3977,27,0,-400,0,1,8,1,-1,0,290,...,0,0,0,0,0,0,0,0,0,1
3978,36,0,658,1,0,29,1,227,3,99,...,0,0,0,0,0,0,0,0,1,0
3979,45,0,137,1,0,9,2,-1,0,274,...,1,0,0,0,0,0,0,0,1,0

In [133]:
TrainY

      CarInsurance
0                0
1                0
2                1
3                1
4                0
5                1
6                1
7                0
8                0
9                0
10               0
11               1
12               1
13               0
14               1
15               1
16               0
17               1
18               1
19               1
20               0
21               1
22               0
23               1
24               1
25               0
26               0
27               0
28               0
29               1
...            ...
3950             1
3951             0
3952             0
3953             0
3954             1
3955             0
3956             0
3957             0
3958             1
3959             0
3960             0
3961             0
3962             0
3963             0
3964             0
3965             0
3966             1
3967             1
3968             0
3969             0
3970             0
3971             0
3972             1
3973             0
3974             0
3975             1
3976             0
3977             0
3978             0
3979             0

[3980 rows x 1 columns]

In [134]:
# Preprocess data to zero-mean & unit-variance
#from sklearn import preprocessing
#X_train = preprocessing.scale(mTrainX)
#X_test = preprocessing.scale(mTestX)

In [135]:
#Splitting the Training and Testing data having 20% of Test data
from sklearn.model_selection import train_test_split, cross_val_score, KFold, cross_val_predict
X_train, X_test, y_train, y_test = train_test_split(TrainX, TrainY, 
                                                    test_size=0.20,random_state=42)

In [136]:
y_train

      CarInsurance
549              0
557              1
1586             1
602              1
442              0
1775             0
218              0
2099             1
879              1
736              0
3310             1
2726             0
3869             1
1427             0
1361             1
3368             1
3426             0
3923             0
3788             1
1210             1
3381             0
2788             0
1714             0
2980             0
948              1
3211             1
805              1
3844             1
1313             0
1736             1
...            ...
955              0
1215             1
2433             0
2853             0
3485             1
1515             0
2391             0
769              1
3380             0
1685             0
130              1
3735             0
2919             0
3171             1
3444             0
2135             0
1482             1
330              1
1238             1
466              0
2169             1
1638             0
3092             0
3772             1
1095             0
1130             0
1294             0
860              1
3507             0
3174             1

[3184 rows x 1 columns]

In [137]:
LR_1_CVS = cross_val_score(estimator=linear_model.LogisticRegression(), X=X_train, y=y_train, cv=5)

IndexError: too many indices for array

In [139]:
# Create corresponding numpy matrices (NOT NEEDED??)
mTrainX = X_train.as_matrix(columns=None)
mTrainY = y_train.as_matrix(columns=None)
y_train_array = np.reshape(mTrainY, 3184)

In [140]:
LR_1_CVS = cross_val_score(estimator=linear_model.LogisticRegression(), X=mTrainX, y=y_train_array, cv=5)

In [141]:
LR_1_CVS

array([ 0.81632653,  0.82103611,  0.83202512,  0.8100471 ,  0.83333333])